h1{
    margin-bottom: 2rem;
}
section {
    background-color: var(--color-main);
    border-radius: 1rem;
    min-height: 30rem;
    min-width: 40rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}