*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-main: #0d2864;
  --color-main-hover: #0f77cc;
  --color-secondary: #ffa500;
  --color-secondary-hover: #db6b02;
}
/* html{
  font-size: 62.5%; 1rem = 10px
} */
body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(../public/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  font-weight: 500;
  color: var(--color-main);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-main-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
}
button:hover {
  background-color: var(--color-secondary-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
